@model IEnumerable<Webmo.Models.Article>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <div>
        <h3>@Html.DisplayFor(m => item.Title)  </h3>
        <p>
            @Html.DisplayFor(m => item.Content).ToString().Substring(0, 60)
            ...
            @Html.ActionLink("[keep reading]", "Details", new { id = item.ID })
        </p>

        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </div>
}

