@model IEnumerable<Webmo.Models.Article>

@{
    ViewBag.Title = "Index";
}
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <div>
        <h3>@Html.DisplayFor(m => item.Title)  </h3>
        <p>
            @Html.DisplayFor(m => item.Content).ToString()
            ...
            @Html.ActionLink("[keep reading]", "Details", new { id = item.ID })
        </p>

        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </div>
}

<script type="text/javascript">

    var url = '/Articles';
    console.log(url);
    $(function () {

        $.ajax({
            type: "GET",
            url: "/Articles/GetList",
            data: {},
            success: function (data) {
                console.log(data);
            },
            error: function (jqHXR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });


        //$.get(url, null, function (e) {
        //    console.log("Callback");
        //    var d = $.parseJSON(e);
        //    console.log(e);
        //    
        //});

    });

</script>


